.w65 {
    width: 65%;
}

.w35 {
    width: 35%;
}

#ResumeRender {
    width: 8.5in;
    height: 11in;
    -webkit-box-shadow: 5px 5px 15px 5px #535353; 
    box-shadow: 5px 5px 15px 5px #535353;
    position: fixed;
    top: 20px;
    left: 45vw;
}

.itemButtonGroup {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.subtitle {
    font-size: 1.25rem;
    display: block;
}