body {
    font-family:'Roboto', Tahoma, Verdana, sans-serif;
    color: #394E58;
}

.w-35 {
    width: 65%;
}

#editor h3 {
    color: #17242A;
    font-size: 1.5rem;
}

#editor hr {
    width: 100%;
    background-color: #17242A;
}

#resumeRender {
    width: 8.5in;
    height: 11in;
    margin-left: 25rem;
    -webkit-box-shadow: 5px 5px 15px 5px #535353; 
    box-shadow: 5px 5px 15px 5px #535353;
}

input {
    margin-bottom:650;
}